body {
	padding: 100px;
	background-image: url(../images/see.jpg);
	background-attachment: fixed;
}

#profilepic {
	text-align: center;
}

#profilepic img {
	width: 150px;
	height: 150px;
	border: solid white 5px;
	border-radius: 200px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.5);
}

.contentbox .container {
	width: 600px;
	padding: 50px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.5);
	background-color: white;
}

#aboutme .container{
	margin-top: -70px;
	padding-top: 80px;
}

#photo .container{
	margin-top: 100px;
}

#friends .container{
	margin-top: 100px;
}